@using Readioo.Business.DataTransferObjects.Book
@model IEnumerable<BookDto>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Book</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Cover</th>
            <th>@Html.DisplayNameFor(model => model.First().Title)</th>
            <th>@Html.DisplayNameFor(model => model.First().Isbn)</th>
            <th>@Html.DisplayNameFor(model => model.First().Language)</th>
            <th>Author</th>
            <th>@Html.DisplayNameFor(model => model.First().PagesCount)</th>
            <th>@Html.DisplayNameFor(model => model.First().Rate)</th>
            <th>Genres</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(book.BookImage))
                    {
                        <img src="~/@book.BookImage" alt="Book Image" style="height:50px;" />
                    }
                </td>
                <td>@book.Title</td>
                <td>@book.Isbn</td>
                <td>@book.Language</td>
                <td><a asp-controller="Author" asp-action="Index"> @book.AuthorName </a></td>
                <td>@book.PagesCount</td>
                <td>@book.Rate</td>
                <td>
                    @if (book.BookGenres.Any())
                    {
                        @string.Join(", ", book.BookGenres)
                    }
                </td>
               
                <td>
                    <a asp-action="Edit" asp-route-id="@book.BookId" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@book.BookId" class="btn btn-sm btn-info">Details</a>
                    <form asp-action="Delete" asp-route-id="@book.BookId" method="post" style="display:inline;">
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are you sure to delete the book?');">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
